.table1{
    background-color: rgb(228, 219, 221);
    
} 
.table1 tr:nth-child(odd) {
    border-bottom:2px solid rgb(31, 27, 26);
    
}   
.table2 tr:nth-child(even){
    border-bottom:1px solid rgba(194, 223, 32, 0.733);
    background-color:rgba(0, 211, 46, 0.623);
} 
.table2 tr:nth-child(odd){
    border-bottom:1px solid rgba(194, 223, 32, 0.473);
    background-color:rgba(135, 207, 235, 0.493);
} 