.tag{
    display:inline;
    width:60px;
    height:50px;
     margin-left:60px;
     margin-top:0px;
     border:2px solid red;
     padding-top:0px;
     text-align:center;
}
.icon{
    position:absolute;  
    top:0px;
    left:0px;
    margin-top:0px;
    height:2px;
    width:2px;
    border:2px solid blue; 
    
}